{% extends "main_layout.html.twig" %}

{% block title %}
    Twig - Slider
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row header"></div>

        <div class="row content-container">
            <div class="col-md-8 carousel-container">
                <!-- slider -->
                <div class="carousel-upper">
                    <ul class="carousel-images transition" id="images-upper">
                        <li class="image-item ref-upper"><img src="/resources/slider-image-1.jpg" alt="Image"></li>
                        <li class="image-item"><img src="/resources/slider-image-2.jpg" alt="Image"></li>
                        <li class="image-item"><img src="/resources/slider-image-6.jpg" alt="Image"></li>
                        <li class="image-item"><img src="/resources/slider-image-5.jpg" alt="Image"></li>
                        <li class="image-item"><img src="/resources/slider-image-4.jpg" alt="Image"></li>
                    </ul>
                </div>

                <div class="row lower-container">
                    <div class="col-md-1 arrow-container">
                        <div class="arrows" id="left-arrow"></div>
                        <div class="arrows" id="right-arrow" data-toggle="next"></div>
                    </div>
                    
                    <div class="col-md-11 content">
                        <div class="carousel-lower">
                            <ul class="carousel-images transition" id="images-lower">
                                <li class="image-item ref-lower"><img src="/resources/slider-image-3.jpg" alt="Image"></li>
                                <li class="image-item"><img src="/resources/slider-image-7.jpg" alt="Image"></li>
                                <li class="image-item"><img src="/resources/slider-image-8.jpg" alt="Image"></li>
                                <li class="image-item"><img src="/resources/slider-image-9.jpg" alt="Image"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4 text-container">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae numquam modi id doloremque sint maiores maxime, dignissimos, quaerat ab nam ipsum eligendi cumque fugit aspernatur hic vitae iusto architecto ex.</p>
            </div>
        </div>

        <div class="row footer"></div>
    </div>
{% endblock content %}