{% extends "main_layout.html.twig" %}

{% block title %}
    Twig - Slider
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row header"></div>

        <div class="row content-container">
            <div class="col-md carousel-container">
                <!-- slider -->
            </div>
    
            <div class="col-sm text-container">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae numquam modi id doloremque sint maiores maxime, dignissimos, quaerat ab nam ipsum eligendi cumque fugit aspernatur hic vitae iusto architecto ex.</p>
            </div>
        </div>

        <div class="row footer"></div>
    </div>
{% endblock content %}